In [1]:
import pandas as pd
import numpy as np
from thefuzz import fuzz
df=pd.read_csv('data_cl.csv')

In [2]:

length=df.shape[0]
df_name=df['name']
print(df_name)

0             AMIT SRIVASTAVA
1                 Sunil Kamal
2                       Umang
3                     Sourabh
4                       Umang
                 ...
481115               Satyadev
481116                  Umang
481117    Arun kumar varshney
481118                  AKASH
481119           Ashish Kumar
Name: name, Length: 481120, dtype: object

In [3]:
def removeDuplicates(lst):
      
    return list(set([i for i in lst]))

def removeDuplicatesPhone(lst):
    seen = []
    Output = []
    for a, b, c in lst:
        if not c in seen:
            seen.append(c)
            Output.append([a, b, c])
        else:
            index=seen.index(c)
            Output[index][1]=str(Output[index][1])+','+str(b)
            
    return Output

In [4]:
user_info=list()
for i in range(length):
    if(fuzz.ratio(str(df_name[i]).lower(),'MOHD'.lower())>80):
        user_info.append((df_name[i],df['user_id'][i],df['phone_number'][i]))
user_info=removeDuplicates(user_info)
user_info=removeDuplicatesPhone(user_info)
user_info_df=pd.DataFrame(user_info)
user_info_df.rename(columns = {0:'Name',1:'user_id',2:'phone_number'}, inplace = True)

In [224]:
print(user_info)

[['Mohd', 11128946, 8954118890]]

In [225]:
# To Do, append user_id into the user_id of the same phone

In [226]:
print(user_info_df)

   Name   user_id  phone_number
0  Mohd  11128946    8954118890